.App-header {
	padding-top: 50px;
}

.card {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: rgba(211, 211, 211, 0.3);
	font-size: 2rem;
	font-weight: 600;
	width: 600px;
	height: 400px;
	margin-bottom: 100px;
	border-radius: 30px;
}

.todoList {
	border-radius: 15px;
	background-color: rgba(236, 236, 236, 0.4);
	height: 400px;
	overflow: auto;
}

.todoItem {
	display: flex;
	align-items: center;
	margin: 5px 0px 5px 0px;
	background-color: rgba(255, 255, 255, 0.068);
	height: 60px;
}

.todoOptions {
	display: flex;
	margin: 0px 20px 0px auto;
}

.buttonHolder {
	margin-top: 20px;
}

button {
	margin-left: 10px;
	font-size: inherit;
	font-family: inherit;
	border-radius: 8px;
}

input {
	font-size: inherit;
	font-family: inherit;
}

.todoText {
	display: flex;
	justify-content: flex-start;
	width: 30vw;
	overflow: hidden;
}



@media only screen and (max-width:700px) {
	.todoList {
		min-width: 100vw;
	}

	.todoText {
		margin-left: 5px;
	}

	input.todoText {
		width: 30vw;
	}

	.buttonHolder {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	button {
		margin-top: 10px;
		display: block;
		width: 150px;
	}
}

@media only screen and (min-width:700px) {
	.todoList {
		min-width: 45vw;
	}

	.todoText {
		margin-left: 20px;
	}

	input.todoText {
		width: 20vw;
	}
}